altgraph==0.17.4
appscript==1.2.5
certifi==2024.7.4
charset-normalizer==3.3.2
docx2pdf==0.1.8
idna==3.7
lxml==5.2.2
macholib==1.16.3
packaging==24.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
requests==2.32.3
setuptools==71.1.0
tk==0.1.0
tqdm==4.66.4
urllib3==2.2.2